*{padding:0;
    margin:0;
    box-sizing: border-box;}
    
body{background:black;}

.contenedor{
  background:aqua;
  height: 650px;
  width: 650px;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  margin:0 auto;
  border-radius:5%;
  display: flex;
  flex-direction: column; 
}

.uno{
  background: #FE8112;
  height: 400px;
  width: 400px;
  border-radius:5%;
  position: relative;
  margin:30px auto;
} 

.punto{
  width: var(--c);
  height: var(--d);
  margin-top: var(--a);
  margin-left: var(--b);
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
 }
        
:root{
  --a:150px;
  --b:30px;
  --c:30px;
  --d:30px
}

.dos{
    
  height: 90px;
  width: 400px;
  border-radius:20px;
  position: relative;
  margin: 0 auto;
}


.score{
  background: #719CFF;
  font-size:25px;
  text-align: center;
  border:1px solid #46619D;

  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
.faltan{
  background: #719CFF;
  font-size:25px;
  text-align: center;
  border:1px solid #46619D;

}
.max-punt{
  background: #719CFF;
  font-size:25px;
  text-align: center;
  border:1px solid #46619D;

  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
}

.tres{
        
  height: 30px;
  width: 400px;
  border-radius:20px;
  position: relative;
  margin: 10px auto;
  justify-content: space-evenly;
  display: flex;
}

.tres button{
  border-radius:10px;
  padding:0px 5px;
  border: 0.5px solid black;
  background:#5AC4B7;
  color:white;
  cursor: pointer;
  
}

.tres button:hover{
  background:#47FAE5;
  box-shadow: 5px 5px #C05D00; 
}
